@page "/Account/ResetPasswordConfirmation"
@layout Layout.BlankLayout
@attribute [AllowAnonymous]
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<PageTitle>Reset password confirmation</PageTitle>

<MudContainer Class="mt-0">
	<MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Reset password confirmation</MudText>
	<MudText Typo="Typo.body1" Align="Align.Center" GutterBottom="true" role="alert">
		Your password has been reset. Please <a class="mud-link mud-primary-text mud-link-underline-hover" href="Account/Login">click here to log in</a>.
	</MudText>
</MudContainer>
